---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#nextRunYes{
  border: 1px solid black;
  text-align: center;
  background: rgb(120, 255, 120);
  margin: 1em;
}

#nextRunNo{
  border: 1px solid black;
  text-align: center;
  background: lightcoral;
  margin: 1em;
}

.mini-gallery {
  display: grid;
  /* Automatically creates columns that are at least 150px wide */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px; 
  margin-top: 2rem;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  aspect-ratio: 5 / 2; /* Width of 5, height of 3 (40% shorter than a square) */
  border-radius: 8px;
}