---
layout: archive
---

{{ content }}
<div style="font-size:.85em">
  <img src="/assets/images/SHR Banner Crop.jpg" alt="SHR Banner" height="400">
  </br>
  </br>

  <body>
    <p>Sydney Harbour Runners are a community of runners, and we make our SHR run nights relaxed and social. There is a
      pace group for most runners, and we welcome all new runners to come along.</p>
    <p>Weekly group runs are FREE and we meet on <b>Tuesdays from 6:00pm</b> at the <a href="https://goo.gl/maps/UNHAMsSZq4d9pz5M9">Cockle Bay Wharf Bird Fountain</a> in Darling
      Harbour (Sydney CBD).</p>
    <ul>
      <li>Two distance options: short course around 6km-8km, long course around 11km-13km
      <li>Pace groups from 4:30 to 6:30 min/km - our routes for each week are shown <a href="/schedule">here</a></li>
      <li>Bag drop available</li>
      <li>Post-run meals and drink specials</li>
      <li>Runs leave 6:15pm from the Cockle Bay Wharf Bird Fountain</li>
    </ul>
  </body>
  <h4>Is SHR Running this week?</h3>
  <!-- <p style="color: red;">We're on break for the end of the year! We will be back on 7 Jan 2025.</p> -->
  <!-- <p>Yes! We are running this week. Check our <a href="/schedule">schedule page</a> for information about future weeks.</p> -->
  <p style="color: red;">Note that we will not be running on 3 Jun 2024 and 10 Jun 2024 due to Vivid, returning back to our regular schedule on 17 June 2024. You can also check our <a href="/schedule">schedule page</a> for information about future weeks.</p>

  <h4>When & Where do you meet?</h3>
  <p>Tuesdays at 6:00pm starting at the <a href="https://goo.gl/maps/UNHAMsSZq4d9pz5M9">Cockle Bay Wharf Bird Fountain</a> in Darling Harbour</p>

  <h4>How do I join?</h3>
  <p>Just rock up! There is no need to register and we are 100% free to join.</p>

  <h4>Any questions?</h3>
  <p>
    Please join the <a href="https://www.facebook.com/groups/sydneyharbourrunners/">Sydney Harbour Runners Facebook
      group</a> and make a post!
  </p>

  <h1 style="text-align: center;">Thank you to our friends for supporting us!</h1>
  <a href="/friends"><img src="assets\images\CombinedFriends.png"
      style="max-width: 85%; display: block; margin-right: auto; margin-left: auto;"></a>
</div>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}