---
layout: archive
---

{{ content }}
<div style="font-size:.85em">
<img src="/assets/images/SHR Banner Crop.jpg" alt="SHR Banner"  height="400">
</br>
</br>
<body>Sydney Harbour Runners are a community of runners, and we make our SHR run nights relaxed and social. There is a pace group for most runners, and we welcome all new runners to come along.</br>
</br>
Weekly group runs are FREE and we meet on Tuesdays from 6:00pm at the Cockle Bay Wharf Bird Fountain at Darling Harbour!</br>
<ul>
  <li>Two distance options: short course around 6k-8k, long course around 11k-13k
  <li>Pace groups from 4:30 to 6:15 min/km - our routes for each week are shown <a href="/schedule">here</a></li>
  <li>Place to leave your bag</li>
  <li>Post-Run meals and drink specials</li>
  <li>Runs leave 6:15pm from the Cockle Bay Wharf Bird Fountain</li>
</ul>
</body>
<h3>Is SHR Running this week?</h3>
<p>Yes! We will let you know in advance if we are not planning on running.</p>
<p>You can also check our <a href="/schedule">schedule page</a> for information about future weeks.</p>

<p style="color: red;">Note that we will not be running on 4 Jun 2024 and 11 Jun 2024 due to Vivid, returning back to our regular schedule on 18 June 2024. You can also check our <a href="/schedule">schedule page</a> for information about future weeks.</p>

<h3>When & Where do you meet?</h3>
Tuesdays at 6:00pm starting at the <a href="https://goo.gl/maps/UNHAMsSZq4d9pz5M9">Cockle Bay Wharf Bird Fountain</a> in Darling Harbour

<h3>How do I join?</h3>
Just rock up! There is no need to register and we are 100% free to join.

<h3>Any questions?</h3>
Please join the <a href="https://www.facebook.com/groups/sydneyharbourrunners/">Sydney Harbour Runners Facebook group</a> and make a post! 

<br></br><br></br>
<h1 style="text-align: center;">Thank you to our friends for supporting us!</h1>
<a href="/friends"><img src="assets\images\CombinedFriends.png" style="max-width: 85%; display: block; margin-right: auto; margin-left: auto;"></a>
</div>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
