---
layout: archive
---

{{ content }}

<h2>About Us</h2>

Sydney Harbour Runners has established themselves as Sydney's Bridge Runners with all our courses giving you great views of at least one of Sydney's iconcic bridges! We are a Community of runners, and we make our SHR run night relaxed and social, there is a pace group for most runners, and we welcome all new runners to come along.
Weekly group runs are FREE and we meet on Tuesdays from 5:45pm at the Cockle Bay Wharf Bird Fountain at Darling Harbour! <br>
<ul>
  <li>Two distance options: short course around 6k-8k, long course around 11k-13k
  <li>4:30, 5:00, 5:30, and 6:00min/km pace groups</li>
  <li>Place to leave your bag</li>
  <li>Post-Run meals and drink specials</li>
  <li>Runs leave 6:15 from the Cockle Bay Wharf Bird Fountain</li>
</ul>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
